#Dush-Cube{
    height: 50px;
    width: 50px;
    position: absolute;
    top:10px;
    left:10px;

    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 100px;
}
#Dush-Cube img{
    width: 50px
}